@import "tailwindcss";
@plugin "daisyui";




@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: oklch(65% 0.23 35);
  --color-secondary: oklch(58% 0.18 30);
  --color-accent: oklch(72% 0.20 55);

  /* Base */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.01 95);
  --color-base-300: oklch(92% 0.015 95);

  /* Neutral */
  --color-neutral: oklch(35% 0.01 260);
  --color-neutral-content: oklch(96% 0 0);

  /* Feedback */
  --color-success: oklch(70% 0.17 145);
  --color-error: oklch(62% 0.24 28);
}

@keyframes slowZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.animate-slowZoom {
  animation: slowZoom 10s ease-in-out infinite alternate;
}

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}